.img-carousel{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(55%);
}

.img-about{
    width: 700px;
}

.font{
    font-size: 17px;
    text-align: justify;
}

.img-card{
    height: 200px;
}

.card-hover:hover{
    filter: brightness(90%);
}

#fondo{
    background: rgba(0, 0, 0, 0.4) url(../images/rescue-center.jpg) no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    z-index: -20;
    width: 100%;
    height: 400px;
}

#fondo-2{
    background: rgba(0, 0, 0, 0.4) url(../images/cat-donate-2.webp) no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    z-index: -20;
    width: 100%;
    height: 400px;
}

#fondo-3{
    background: rgba(0, 0, 0, 0.8) url(../images/cat-fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    z-index: -20;
    width: 100%;
}

.zoom {
    transition: transform .2s; 
}
 
.zoom:hover {
    transform: scale(1.04); 
    cursor: pointer;
}

.bg-adopt{
    background: rgba(39, 36, 36, 0.5) !important   ;
}